@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f3f3;
  --foreground: #171717;
  --primary:  #3f418d ;
  --secondary: #f9eded;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
